
header {
    position: relative;
    padding: 0 2rem;
    max-width: 114rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}