.copyright{
    color: #fff;
     text-align: center;
     position: relative;
     margin: 0 auto;
     width: 100%;
     padding: 3rem 1rem;
     font-size: 1.4rem;
     background-color: #333232;
}