@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html{
    font-size: 62.5%; /* 10px */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background:  #fcf9f9;
}

